* {
  margin: 0;
  padding: 0;
}

body {
  background: #dcf5ff;
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
} 

.inner {
  background: rgba(7, 218, 165);
  padding: 1em;
  border-radius: 10px;
  width: 250px; 
  clip-path: circle(10% at 90% 25%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.inner:hover {
  clip-path: circle(75%);
  background: #00b6ff;
}

span {
  float: right;
  color: #ffffff;
  font-weight: bold;
  transition: color .5s;
  position: relative;
  margin-right: .6rem;
}

span:hover {
  color: rgba(0, 0, 0, 0);
}

.inner h1 {
  color: #ffffff;
}

.inner p {
  color: #ffffff;
  font-size: .8rem;
}